@use "../partials/allscss" as *;

/* FOR dropdown of all breakpoints of this web-page*/
.logo-and-navbar{
  .dropdown ul > li:nth-child(2){
    a {
      color: $pink-color;
    }
  }
}


/* ------------------------------------------------------------------------------------------------------------------------------------------------- */
@media (0px <= width < 768px) {
  .hero {
      background-size: auto;
      .heading {
        h1 {
          font-size: $Hero-fsize - 0.8rem;
        }
      }
    }
    
    .filter {
      width: 90%;
      margin: $margin-horizontal auto;
    }
  }

/* ------------------------------------------------------------------------------------------------------------------------------------------------- */
@media (768px <= width < 1082px) {
    
  }

