@use "partials/allscss" as *;

img {
  display: block;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

html {
  font-family: $font-stack;
  scroll-behavior: smooth;
}

/* --------HEADER */

header {
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 9999;
}

.sub-heading {
  padding: 0.5em;
  border-bottom: $border;

  &-content {
    @include displayFlex(row, space-between, center, 0rem);
    width: 80%;
    margin: 0 auto;
  }
  .email-and-address-container {
    @include displayFlex(row, center, center, 0rem);
    font-size: $small-fsize;
    color: $lightgrey-color;

    .email {
      border-right: $border;
    }

    .email {
      padding-right: 1.5em;
    }

    .address {
      padding-left: 1.5em;
    }

    & i {
      font-size: $secondary-fsize;
      color: $orange-color;
      margin-right: 0.5em;
    }
  }

  .social-links {
    @include displayFlex(row, flex-end, center, 1rem);

    li {
      a {
        background-color: $lightgrey-color;
        @include displayFlex(row, center, center, 0);
        padding: 0.4em;
        border-radius: map-get($border-radius, "30px");
        width: 30px;
        height: 30px;
        transition: $transition;

        &:hover {
          background-color: $orange-color;

          i {
            color: $white-color;
          }
        }
      }

      i {
        color: $white-color;
      }
    }
  }
}

.logo-and-navbar {
  border-bottom: $border;

  &-content {
    width: 80%;
    margin: 0 auto;
    @include displayFlex(row, space-between, center, 0);
    background-color: $white-color;
    padding: 0.5em;
  }

  .logo {
    a {
      color: $black-color;

      h1 {
        font-size: 2rem;
        letter-spacing: 2px;
        font-weight: map-get($font-weight, "bold-800");
      }
    }
  }

  .navbar {
    font-size: $small-fsize;
    ul {
      @include displayFlex(row, space-between, center, 0rem);
      padding: 1em 0;
      li {
        a {
          color: $black-color;
          margin-left: 2em;
          padding: 0.8em 1em;
          transition: $transition;
          position: relative;
          font-weight: map-get($font-weight, "bold-500");

          &::before {
            content: "";
            background-color: $orange-color;
            width: 0%;
            height: 2px;
            position: absolute;
            bottom: 0;
            left: 0;
            transition: $transition;
          }

          &:hover {
            color: $orange-color;

            &::before {
              width: 100%;
            }
          }
        }

        &:nth-child(2) {
          a {
            color: $orange-color;
          }
        }

        &:last-child {
          @include scheduleVisitLink;
        }
      }
    }
  }

  .dropdown {
    position: absolute;
    right: 10%;
    i,
    input,
    ul {
      display: none;
    }
  }
}

  .hero {
    @include hero(url(../images/Properties/page-heading-bg.jpg));
  }

  .filter {
    margin: $margin-horizontal auto;
    .buttons {
      display: grid;
      grid-template-columns: repeat(auto-fit,10em);
      place-content: center;
      gap: 1rem;
      @include buttons;

      label:hover {
        color: $orange-color;
      }
    }
  }

  .properties {
    margin: $margin-horizontal auto;

    .property-cards {
      max-width: 1000px;
      min-width: 280px;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(15em, 1fr));
      place-content: center;
      gap: 2rem;
      width: 90%;
      margin: 0 auto;
      .card {
        @include propertyCards;
        min-width: 290px;
      }
    }
  }

  .page-numbers {
    margin: $margin-horizontal auto;
    ul {
      @include displayFlex(row, center, center, 1rem);
      li {
        a {
          @include displayFlex(row, center, center, 1rem);
          width: 2.5em;
          background-color: $black-color;
          color: $white-color;
          padding: 0.5em;
          font-weight: map-get($font-weight, "bold-600");
          border-radius: map-get($border-radius, "30px");
          transition: $transition;
          &:hover {
            background-color: $orange-color;
          }
        }
      }

      :nth-child(2) {
        a {
          background-color: $orange-color;
        }
      }
    }
  }

footer {
  .blackline {
    @include blackline;
  }
}
