/* Font Family */
$font-stack : Poppins, sans-serif;

/* FONT SIZES */
$small-fsize : 0.9rem;
$secondary-fsize : 1.125rem;
$primary-fsize : 1.3rem;
$Hero-fsize : 3.8rem;
$subheading-fsize :  2.5rem;
$line-height : 1.5;


/* FONT BOLD */
$font-weight : (
    "bold-400" : 400,
    "bold-500" : 500,
    "bold-600" : 600,
    "bold-700" : 700,
    "bold-800" : 800,
);

/* Border */
$border : 1px solid #e9e9e9;

